<div class="flex-row mb-4" style="justify-content: space-around; align-items: center; background-color: white">
    <h5 class="mb-0"><%= role %> - <%= user.email %></h3>
    <a href="/logout"><i style="line-height: inherit" class="fa fa-sign-out fa-2x"></i></a>
</div>
