<% include partials/header %>

<h1>Logged in as Host <%= username %></h1>
<button id="bootan">push me bitch</button>

<a href="/logout">Logout</a>

<script src="app.js"></script>
<% include partials/footer %>
