<html>
<% include partials/header %>

<h1>P-Depardy</h1>

<a href="/auth/google">Sign in with Google</a>

<% if (message.length > 0) { %>
  <div style="color: green" class="alert alert-danger"><%= message %></div>
<% } %>
<% if (error.length > 0) { %>
<div style="color: red" class="alert alert-danger"><%= error %></div>
<% } %>
<% include partials/footer %>
