<% include partials/header %>

<h1>Logged in as Spectator <%= user.name %></h1>
<button id="bootan">push me bitch</button>

<a href="/logout">Logout</a>

<div id="message-box">Nothing</div>

<script src="app.js"></script>
<% include partials/footer %>
