<% include partials/header %>

<div class="col-xs-12 row" style="overflow-x:auto;">
    <div class="flex-row grid-holder" style="display: none">
    <!--holds grid-->
    </div>

    <div class="flex-col jep-column template" style="display: none">
        <div class="jep-square category">Catagory</div>
    </div>

    <div class="fullscreen-question flex-col" style="display: none">
        <div class="question-content" style="margin: 3rem"></div>
    </div>
</div>
<div class="col-xs-12 row" style="overflow-x: auto;">
    <div class="flex-row w-100 player-holder" style="justify-content: center; align-content: center;">
        <div class="player-card template" style="display: none">
            <div class="player-name">
            </div>
            <div class="player-score">
            </div>
        </div>
    </div>
</div>


<script src="js/spectator.bundle.js"></script>
<% include partials/footer %>
